wifi_ssid: "TwojaNazwaWiFi"
wifi_password: "TwojeHasloWiFi"
ap_password: "HasloFallbackAP"
api_encryption_key: "KluczEncryptionAPI"
ota_password: "HasloOTA"
web_username: "admin"
web_password: "HasloWeb"

